@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;600;700;800;900&display=swap");

*,
html {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0b0b0b;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* navbar */
  .container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 50px;
  }
  .container-navbar .wrapper {
    font-family: "M PLUS 1", sans-serif;
    font-weight: 700;
    font-size: 10px;
  }
  .container-navbar .wrapper a {
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
  }
  .container-navbar .wrapper a:hover {
    padding: 5px;
    margin: 5px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
  }
  /* navbar selesai */
  /* hero */
  .container .box {
    max-width: 100%;
    height: auto;
    background-color: black;
  }
  .container .box .box-img img {
    width: 100%;
  }
  .container .box .box-deskripsi {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    cursor: default;
  }
  .container .box .box-deskripsi img {
    width: 150px;
    height: auto;
  }
  .container .box .box-deskripsi p {
    font-family: "M PLUS 1", sans-serif;
    margin: 10px 40px 10px 40px;
    font-size: 10px;
    font-weight: 600;
  }
  /* hero selesai */
  /* konten journey */
  .container-journey {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
  }
  .container-journey .box-3d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-journey .box-3d .wrapper {
    position: relative;
    width: 320px;
    min-height: 200px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
  }
  .container-journey .box-3d .card-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    min-height: 200px;
    transform: translatez(30px);
  }
  .container-journey .box-3d .card-img img {
    position: absolute;
    width: calc(100% - 40px);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-journey .tombol {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
    right: 210px;
    top: -5px;
  }
  .container-journey .tombol:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container-journey .tombol .link {
    text-decoration: none;
  }
  .container-journey .tombol h1 {
    font-family: "M PLUS 1", sans-serif;
    font-size: 20px;
    color: whitesmoke;
    margin: 10px;
    font-weight: 700;
  }
  .container-journey .tombol h1:hover {
    color: black;
  }
  .container-journey .card-deskripsi {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateZ(100px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
    top: 150px;
    left: 100px;
    max-width: 200px;
    padding: 15px;
  }
  .container-journey .box-3d .card-deskripsi p {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: white;
    font-family: "M PLUS 1", sans-serif;
    cursor: default;
  }
  /* konten journey selesai */
  /* konten project */
  .container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
  }
  .container-project .box-3d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-project .box-3d .wrapper {
    position: relative;
    width: 240px;
    min-height: 240px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
  }
  .container-project .box-3d .card-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    min-height: 240px;
    transform: translatez(30px);
  }
  .container-project .box-3d .card-img img {
    position: absolute;
    width: calc(100% - 120px);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-project .tombol {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
    left: 150px;
  }
  .container-project .tombol:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container-project .tombol .link {
    text-decoration: none;
  }
  .container-project .tombol h1 {
    font-family: "M PLUS 1", sans-serif;
    font-size: 20px;
    color: whitesmoke;
    margin: 10px;
    font-weight: 700;
  }
  .container-project .tombol h1:hover {
    color: black;
  }
  .container-project .card-deskripsi {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateZ(100px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
    top: 200px;
    left: -20px;
    max-width: 200px;
    padding: 15px;
  }
  .container-project .box-3d .card-deskripsi p {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: white;
    font-family: "M PLUS 1", sans-serif;
    cursor: default;
  }
  /* konten project selesai */
  /* konten aboutme */
  .container-aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-aboutme .box-3d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-aboutme .box-3d .wrapper {
    position: relative;
    width: 240px;
    min-height: 240px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
  }
  .container-aboutme .box-3d .card-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 240px;
    transform: translatez(30px);
  }
  .container-aboutme .box-3d .card-img img {
    position: absolute;
    width: calc(100% - 120px);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
  }
  .container-aboutme .tombol {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5);
    top: 200px;
  }
  .container-aboutme .tombol:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container-aboutme .tombol .link {
    text-decoration: none;
  }
  .container-aboutme .tombol h1 {
    font-family: "M PLUS 1", sans-serif;
    font-size: 15px;
    color: whitesmoke;
    margin: 10px;
    font-weight: 700;
  }
  .container-aboutme .tombol h1:hover {
    color: black;
  }
  /* konten aboutme selesai */
  /* footer */
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    height: 140px;
  }
  .container-footer .footer .contactme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
    font-family: "M PLUS 1", sans-serif;
    font-size: 5px;
    padding-top: 30px;
    cursor: default;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .container-footer .footer .icon {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .container-footer .footer .icon a {
    color: whitesmoke;
    margin: 10px;
    font-size: 20px;
  }
  .container-footer .footer .copyright {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .container-footer .footer .copyright h1 {
    font-family: "M PLUS 1", sans-serif;
    font-size: 6px;
    color: whitesmoke;
    cursor: default;
  }
  /* footer selesai */
}
